!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / Use title if it's in the page YAML frontmatter
    %title= data.page.title || "The Middleman"
    = stylesheet_link_tag "app"
  %body{class: page_classes}
    = yield
    = javascript_include_tag "app"

    -# Typekit
    -# %script{:src => "//use.typekit.net/id", :type => "text/javascript"}
    -# :javascript
    -#   try{Typekit.load();}catch(e){}

    -# Google Analytics
    -# :javascript
    -#   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    -#   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    -#   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    -#   s.parentNode.insertBefore(g,s)}(document,'script'));


  %script{:src => "javascripts/vendor/jquery.js"}
  %script{:src => "javascripts/foundation/foundation.js"}
  %script{:src => "javascripts/foundation/foundation.section.js"}
  %script{:src => "javascripts/foundation/foundation.clearing.js"}
  %script{:src => "javascripts/foundation/foundation.cookie.js"}
  %script{:src => "javascripts/foundation/foundation.forms.js"}
  %script{:src => "javascripts/foundation/foundation.orbit.js"}
  %script{:src => "javascripts/foundation/foundation.topbar.js"}
  %script{:src => "javascripts/foundation/foundation.placeholder.js"}
  %script{:src => "javascripts/foundation/foundation.reveal.js"}
  %script{:src => "javascripts/foundation/foundation.alerts.js"}
  %script{:src => "javascripts/foundation/foundation.magellan.js"}
  %script{:src => "javascripts/foundation/foundation.dropdown.js"}
  %script{:src => "javascripts/foundation/foundation.joyride.js"}
  %script{:src => "javascripts/foundation/foundation.tooltips.js"}