!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= data.page.title || data.site.title

    = stylesheet_link_tag "app"
    = javascript_include_tag "vendor/modernizr"

  %body{class: page_classes}
    = yield

    -# Typekit
    -# %script{:src => "//use.typekit.net/id", :type => "text/javascript"}
    -# :javascript
    -#   try{Typekit.load();}catch(e){}

    -# Google Analytics
    -# :javascript
    -#   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    -#   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    -#   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    -#   s.parentNode.insertBefore(g,s)}(document,'script'));


  %script{:src => "javascripts/vendor/jquery.js"}
  %script{:src => "javascripts/foundation/foundation.min.js"}
