%header
  .row
    .small-2.columns
      %h2.buzz-out
        %a{href: "/"} N
    .small-10.columns
      %ul.inline-list
        %li
          %a{:href => "about.html"} About
        %li
          %a{:href => "http://jobs.noogastartups.com"} Jobs
        %li
          %a{:href => "http://twitter.com/noogastartups"} Twitter     
