---
title: Nooga Startups 
bodyclass: homepage
---

= partial "shared/header"

%section#hero
  %video#bgvid{:autoplay => "", :loop => ""}
    %source{:src => "https://s3.amazonaws.com/Nooga-Startups/CHA_2.m4v", :type => "video/mp4"}
  .row
    .small-12.medium-9.small-centered.columns
      %h1 Nooga Startups
      %h3 A showcase of internet companies and startups founded right here in Chattanooga, TN
      %a.button{:href => "mailto:meghan.o'dea@lamppostgroup.com?subject=Nooga Startups Inquiry"} Join the Movement

%section#startups
  .row
    .small-12.columns
      .row
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://tryambition.com", :target => "_blank"}
            =image_tag("ambition.png", alt: "Office productivity with a purpose", title: "Ambition")
            %h2 Ambition
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://americanexchange.com", :target => "_blank"}
            =image_tag("american.png", alt: "Health coverage for all", title: "American Exchange")
            %h2 American Exchange
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://getbellhops.com", :target => "_blank"}
            =image_tag("bellhops.png", alt: "Get college students for moving help", title: "Bellhops")
            %h2 Bellhops
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://causeway.org", :target => "_blank"}
            =image_tag("causeway.png", alt: "Where there's a cause, there's a way", title: "Causeway")
            %h2 Causeway
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://delegator.com", :target => "_blank"}
            =image_tag("delegator.png", alt: "Get it done", title: "Delegator")
            %h2 Delegator
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://fancyrhino.com", :target => "_blank"}
            =image_tag("fancy.png", alt: "We are animal", title: "Fancy Rhino")
            %h2 Fancy Rhino
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://weareflint.co", :target => "_blank"}
            =image_tag("flint.png", alt: "We are your answer to a better business", title: "Flint")
            %h2 Flint
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://pricewaiter.com", :target => "_blank"}
            =image_tag("pricewaiter.png", alt: "Making free markets freer", title: "PriceWaiter")
            %h2 PriceWaiter
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://quickcue.com", :target => "_blank"}
            =image_tag("quickque.png", alt: "The smarter way to host your guests", title: "Quickcue")
            %h2 Quickcue
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://smartfurniture.com", :target => "_blank"}
            =image_tag("smart.png", alt: "Design your way", title: "Smart Furniture")
            %h2 Smart Furniture
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://southtree.com", :target => "_blank"}
            =image_tag("southtree.png", alt: "Memories matter, preserve yours", title: "Southtree")
            %h2 Southtree
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://spire.me", :target => "_blank"}
            =image_tag("spire.png", alt: "Community you can count on", title: "Spire")
            %h2 Spire
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://supplyhog.com", :target => "_blank"}
            =image_tag("supply.png", alt: "Get. Ship. Done.", title: "Supply Hog")
            %h2 Supply Hog
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://variableinc.com", :target => "_blank"}
            =image_tag("variable.png", alt: "We are a world of gadgeteers", title: "Variable Technologies")
            %h2 Variable
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://waypaver.co", :target => "_blank"}
            =image_tag("waypaver.png", alt: "Digital creatives drive cities", title: "Waypaver")
            %h2 Waypaver
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://wecounsel.com", :target => "_blank"}
            =image_tag("wecounsel.png", alt: "An online therapy innovation", title: "We Counsel")
            %h2 WeCounsel
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://whiteboard.is", :target => "_blank"}
            =image_tag("whiteboard.png", alt: "We empower visionaries to lead meaningful brands.", title: "Whiteboard")
            %h2 Whiteboard
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://woople.com", :target => "_blank"}
            =image_tag("woople.png", alt: "Simple eLearning for your organization", title: "Woople")
            %h2 Woople


= partial "shared/footer"