---
title: Index 
bodyclass: homepage
---

= partial "shared/header"


.large-12.columns
  .row
    %h1 Hello World
    %img{:src => "http://38.media.tumblr.com/5c4f88c458c8f0b412b266aaf44bc610/tumblr_mrh7chGs501qhub34o1_250.gif"}/


= partial "shared/footer"